.lixeira{
  border: none !important;
 
}
.actionbuttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.down{
  margin-top:22px;
}
.reproved{
  padding: 5px !important;
}

.foto-container {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}

.foto-delete-btn {
display: none;
position: absolute;
top: 5px;
right: 5px;
}

.foto-container:hover .foto-delete-btn {
display: block;
}
.lounge{
display: flex;
flex-wrap: wrap;
}
.lightimage{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
border-radius: 10px;
border: 1px solid #dfe6e9 !important;
}

.photolist{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageroll{
  width: 48px; 
  height: 48px;
}
.imagerolltwo{
  width: 80px; 
  height: 80px;
}
.sideside{
  margin-right: 5px;
}

.playon{
  min-width: 45px !important; 
  width: 45px !important; 
  height: 45px !important;
}
.rideon{
  margin-top: auto !important; 
  margin-left: auto !important;
}
.munt{
  height: 40px !important;
}
.devo{
  width: 6px !important;
  height: 6px !important;
  top: 12px !important;
}
.finder{
  width: 380px !important;
  top: 100% !important;
}
.fibras{
  max-height: 400px !important; 
  margin-right: -10px !important; 
  margin-left: -10px !important;
}
.teju{
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.temi{
  width: 48px !important; 
  height: 48px !important;
}
.ment{
  width: 35px !important;
   height: 35px !important;
}
.lorden{
  font-size: 24px !important;
}
.plinio{
  font-size: 16px !important;
}
.bubler{
  flex: 0 0 32px !important;
}
.mands{
  flex: 0 0 120px !important;
}
.blinkn{
  flex: 0 0 70px !important;
}
.riotg{
  width: 65px !important;
}
.bndes{
  width: 32px !important; 
  height: 32px !important;
}
.nemusa{
  top: 100% !important; 
  width: 260px !important;
}
.blobers{
  width: 256px !important;
}